@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "garuteBlack";
  src: url("./assets/fonts/garute-black.ttf");
}

@font-face {
  font-family: "garuteBold";
  src: url("./assets/fonts/garute-bold.ttf");
}

@font-face {
  font-family: "garuteSemiBold";
  src: url("./assets/fonts/garute-semibold.ttf");
}

@font-face {
  font-family: "garuteExtraBold";
  src: url("./assets/fonts/garute-extrabold.ttf");
}

@font-face {
  font-family: "garuteRegular";
  src: url("./assets/fonts/garute-regular.ttf");
}

@font-face {
  font-family: "garuteMedium";
  src: url("./assets/fonts/garute-medium.ttf");
}

@font-face {
  font-family: "garuteLight";
  src: url("./assets/fonts/garute-light.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* ######### RESPONSIVE ######### */
/* ### MOBILE ### */
@media (max-width: 576px) {
}

/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
}

/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* ### BIG DESKTOP ### */
@media (min-width: 1025px) {
}
